
<div class="jumbotron">
  <div class="row">
    <div class="col-md-4 ">
       <%= gravatar_for @user, size: 300 %>
    </div>

    <div class="col-md-8 ">
        <div class="container" style="border-bottom:1px solid black">
          <h2><%= @user.name %></h2>
        </div>
          <hr>
        <ul class="container details">
          <li><p><span class="glyphicon glyphicon-earphone one" style="width:50px;"></span><%= @user.phone %></p></li>
          <li><p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span><%= @user.email %></p></li>
          <li><p><span class="glyphicon glyphicon-map-marker one" style="width:50px;"></span><%= @user.address %></p></li>
          <li><p><span class="glyphicon glyphicon-new-window one" style="width:50px;"></span><a href="#">www.example.com</p></a>
        </ul>
    </div>
  </div>
</div>
